# Invisible Archive Configuration Template

# The port on your host machine to access the web UI
APP_PORT=8881

# The absolute path to your media library on the host machine
# Example: /home/user/movies
LIBRARY_DIR=./library

# The absolute path to the cache directory on the host machine
# Example: /home/user/invisible-archive/cache
CACHE_DIR=./cache
THUMB_WORKERS=2