# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go
vendor/

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment and Secrets
.env
.env.local
.env.*.local

# Database
*.db
*.db-journal
*.db-shm
*.db-wal

# Local Data and Cache
library/
cache/
thumbs/

# OS and IDE
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# Docker
.docker
server.log
test_library/test_video.mp4
test_library/test_m4v.m4v
test_library/test_mp4.mp4